# Node
node_modules/
npm-debug.log

# Env / Secrets
.env

# Runtime / Uploads / Generated
public/uploads/
public/assets/pdf/
media/
src/tmp/
src/routes/admin/public/uploads/

# OS / Editor
.history/
.DS_Store

# Logs
logs/
*.log

# Videos / PDFs allgemein
*.mp4
*.pdf
