#magnifier {
  pointer-events: none !important;
}

.product-single-images img {
  touch-action: pan-y;
}

.search-leiste{
  display:block;
}
@media (max-width: 500px){

  .fi.fi-actions{
    grid-column: 1 / -1 !important;
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .fi-actions .btn,
  .fi-actions .dropdown button{
    width:100%;
    height:44px;
    justify-content:center;
  }

  .fi-actions .dropdown{
    width:100%;
  }

.search-leiste{
    display:block;
  }

  .btn-primary{
    height: 48px;
 }

.category-search .search-form{
  padding: 0 15px;
}

.category-search .search-leiste{
  width: 100%;
}

.filter-bar.shell{
  padding: 0 15px;
}

.filter-bar.shell{
  padding: 0 15px;
}

.filter-grid{
  padding: 20px 0;   /* nur oben/unten */
}

.section-title {
    font-size: 24px !important;
}

.active-filters.shell{
  padding-left: 10px !important;
}

.scroll-controls{
  padding-right: 10px !important;
}

.herando-section{
  display: block;
}

.herando-section .row{
  flex-direction: column;
}

.herando-section .row > .col-lg-6:first-child{
  order: 2;
}

.herando-section .row > .col-lg-6:last-child{
  order: 1;
}

.herando-section .row > .col-lg-6{
  width: 100%;
}

.herando-section .row > .col-lg-6.p-0{
  height: auto !important;
}

.herando-section img{
  height: auto !important;
}

}
